<app-menu></app-menu>
<div class="container bordered-text content-container">
  <div class="d-flex justify-content-center my-4">
    <a class="navbar-brand d-flex align-items-center" href="https://motocalculo.dismotohonda.com/login" target="_blank">
      <img
        src="assets\imgs\motocalculo.png"
        alt="Logo"
        class="logo float-animation"
        style="width: 100%; max-width: 100px; height: auto"
      />
    </a>
    <a class="navbar-brand d-flex align-items-center" href="https://vendedor.dismotohonda.com/login" target="_blank">
      <img
        src="assets\imgs\siteconsultor.png"
        alt="Logo"
        class="logo float-animation"
        style="width: 100%; max-width: 100px;; height: auto"
      />
    </a>
    <a class="navbar-brand d-flex align-items-center" href="?" target="_blank">
      <img
        src="assets\imgs\omega.png"
        alt="Logo"
        class="logo float-animation"
        style="width: 100%; max-width: 100px; height: auto"
      />
    </a>
    <a class="navbar-brand d-flex align-items-center" href="?" target="_blank">
      <img
        src="assets\imgs\marketing.png"
        alt="Logo"
        class="logo float-animation"
        style="width: 100%; max-width: 100px; height: auto"
      />
    </a>
  </div>
  <div class="d-flex justify-content-center my-4">
    <a class="navbar-brand d-flex align-items-center" href="https://termossign.dismotohonda.com/login" target="_blank">
      <img
        src="assets\imgs\termossign.png"
        alt="Logo"
        class="logo float-animation"
        style="width: 100%; max-width: 100px; height: auto"
      />
    </a>
    <a class="navbar-brand d-flex align-items-center" href="?" target="_blank">
      <img
        src="assets\imgs\zappremiado.png"
        alt="Logo"
        class="logo float-animation"
        style="width: 100%; max-width: 100px; height: auto"
      />
    </a>
    <a class="navbar-brand d-flex align-items-center" href="https://grupoexclusivo.dismotohonda.com/login" target="_blank">
      <img
        src="assets\imgs\grupoexclusivo.png"
        alt="Logo"
        class="logo float-animation"
        style="width: 100%; max-width: 100px; height: auto"
      />
    </a>
    <a class="navbar-brand d-flex align-items-center" href="https://dismotohonda.com/" target="_blank">
      <img
        src="assets\imgs\sitedismoto.png"
        alt="Logo"
        class="logo float-animation"
        style="width: 100%; max-width: 100px; height: auto"
      />
    </a>
    <a class="navbar-brand d-flex align-items-center" href="?" target="_blank">
      <img
        src="assets\imgs\siteseminovas.png"
        alt="Logo"
        class="logo float-animation"
        style="width: 100%; max-width: 100px; height: auto"
      />
    </a>
  </div>
</div>
