<body>
  <nav class="navbar bg-body-tertiary fixed-top fundo-cor">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <h4 class="navbar-brand me-auto m-2">HUB</h4>
      <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">HUB-Systems</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item dropdown">
              <button class="nav-link active dropdown-toggle" id="consorcio-tab" data-bs-toggle="dropdown"
                aria-expanded="false" aria-controls="consorcio-tab-pane" aria-selected="true">
                <i class="bi bi-segmented-nav me-1"></i>Consultor(a)
              </button>
              <ul class="dropdown-menu" aria-labelledby="consorcio-tab">
                <li><a class="dropdown-item" href="/">Meus aplicativos</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <button class="nav-link active dropdown-toggle" id="financiamento-tab" data-bs-toggle="dropdown"
                aria-expanded="false" aria-controls="financiamento-tab-pane" aria-selected="true">
                <i class="bi bi-segmented-nav me-1"></i>Administrador
              </button>
              <ul class="dropdown-menu" aria-labelledby="financiamento-tab">
                <li><a class="dropdown-item" href="/cadastrof">Gerar Circular</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-gear me-1"></i>Configurações
              </a>
              <ul class="dropdown-menu">
                <li>
                  <button class="dropdown-item btn">Sair</button>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="fixed-bottom m-3">
          <img src="../../../assets/images/DismotoHub Systems.png" style="height: 50px;" />
        </div>
      </div>
    </div>
  </nav>
</body>
